In [1]:
import pandas as pd
import requests
from bs4 import BeautifulSoup as BS
import regex as re

In [10]:
URL = 'https://gamesdonequick.com/tracker/runs/SGDQ2023'

response = requests.get(URL)

In [11]:
response

In [13]:
soup = BS(response.text)

In [14]:
pd.read_html(str(soup.findAll('table')))[0]

,Name,Runners,Hosts,Commentators,Description,Start Time,Run Time,Bid Wars
0,Pre-Show before the marathon%,Interview Crew,NickRPGreen,NaN,NaN,2023-05-28T12:30:00-04:00,0:29:00,No
1,Sonic Frontiers Any%,AlphaDolphin,NickRPGreen,NaN,NaN,2023-05-28T12:59:00-04:00,1:07:08,Yes
2,Bugsnax All Bosses Co-op,"Konception, limy",NickRPGreen,NaN,NaN,2023-05-28T14:31:00-04:00,0:34:51,Yes
3,Mega Man Maker any%,megamarino,NickRPGreen,WreckingPrograms,NaN,2023-05-28T15:30:00-04:00,0:28:10,Yes
4,F-Zero X All Tracks (Expansion Kit),1davidj,Kungfufruitcup,NaN,NaN,2023-05-28T16:40:00-04:00,1:25:28,No
...,...,...,...,...,...,...,...,...
135,BONUS GAME 7 - The Legend of Zelda: Breath of ...,Bubzia,RUBIEHART,CrystalSaver,NaN,2023-06-04T02:32:00-04:00,1:33:48,Yes
136,Baron Of Shell 100%,grandpoobear,Mr. Game and Shout,NaN,NaN,2023-06-04T04:40:00-04:00,0:36:38,Yes
137,Event Recap Recap 100%,Interview Crew,Mr. Game and Shout,NaN,NaN,2023-06-04T05:44:00-04:00,0:15:00,No
138,Super Metroid Co-Op 100%,"ShinyZeni, zoast",Mr. Game and Shout,NaN,NaN,2023-06-04T06:07:00-04:00,0:41:14,Yes
139,Finale! The End%,Tech Crew,Mr. Game and Shout,NaN,NaN,2023-06-04T06:56:00-04:00,0:20:00,No

In [15]:
runs = pd.read_html(str(soup.findAll('table')))[0]

In [16]:
runs.to_csv('data/summer/runs.csv')

In [17]:
runs = pd.read_csv('data/summer/runs.csv')

In [19]:
runs = runs.drop(columns = 'Unnamed: 0')

In [20]:
runs

,name,runners,hosts,commentators,desc,start,run_time,bid_wars,end
0,Pre-Show before the marathon%,Interview Crew,NickRPGreen,NaN,NaN,2023-05-28T12:30:00-04:00,0:29:00,No,2023-05-28T12:59:00-04:00
1,Sonic Frontiers Any%,AlphaDolphin,NickRPGreen,NaN,NaN,2023-05-28T12:59:00-04:00,1:07:08,Yes,2023-05-28T14:31:00-04:00
2,Bugsnax All Bosses Co-op,"Konception, limy",NickRPGreen,NaN,NaN,2023-05-28T14:31:00-04:00,0:34:51,Yes,2023-05-28T15:30:00-04:00
3,Mega Man Maker any%,megamarino,NickRPGreen,WreckingPrograms,NaN,2023-05-28T15:30:00-04:00,0:28:10,Yes,2023-05-28T16:40:00-04:00
4,F-Zero X All Tracks (Expansion Kit),1davidj,Kungfufruitcup,NaN,NaN,2023-05-28T16:40:00-04:00,1:25:28,No,2023-05-28T18:26:00-04:00
...,...,...,...,...,...,...,...,...,...
135,BONUS GAME 7 - The Legend of Zelda: Breath of ...,Bubzia,RUBIEHART,CrystalSaver,NaN,2023-06-04T02:32:00-04:00,1:33:48,Yes,2023-06-04T04:40:00-04:00
136,Baron Of Shell 100%,grandpoobear,Mr. Game and Shout,NaN,NaN,2023-06-04T04:40:00-04:00,0:36:38,Yes,2023-06-04T05:44:00-04:00
137,Event Recap Recap 100%,Interview Crew,Mr. Game and Shout,NaN,NaN,2023-06-04T05:44:00-04:00,0:15:00,No,2023-06-04T06:07:00-04:00
138,Super Metroid Co-Op 100%,"ShinyZeni, zoast",Mr. Game and Shout,NaN,NaN,2023-06-04T06:07:00-04:00,0:41:14,Yes,2023-06-04T06:56:00-04:00
139,Finale! The End%,Tech Crew,Mr. Game and Shout,NaN,NaN,2023-06-04T06:56:00-04:00,0:20:00,No,2023-06-06T23:56:00-04:00

In [21]:
URLdon = 'https://gamesdonequick.com/tracker/donations/SGDQ2023?page=1'
response = requests.get(URLdon)
response

In [22]:
soup = BS(response.text)
pd.read_html(str(soup.findAll('table')))[0]

               Name                     Time Received      Amount Comment
0       (Anonymous)  2023-06-08T18:58:08.481629-04:00       $5.00     Yes
1              Cait  2023-06-06T23:22:21.543074-04:00      $50.00      No
2            Jelmer  2023-06-06T22:15:04.060004-04:00      $25.00     Yes
3   [FR] Resonances  2023-06-06T14:38:34.350859-04:00   $1,150.00     Yes
4         The Yetee  2023-06-06T12:44:34.198818-04:00  $20,356.00     Yes
5            Haedlt  2023-06-06T10:43:12.808549-04:00     $150.00      No
6           Noo Noo  2023-06-06T09:26:02.573396-04:00       $5.00     Yes
7       (Anonymous)  2023-06-06T08:25:53.941112-04:00       $5.00      No
8              jack  2023-06-06T00:16:40.638111-04:00     $100.00      No
9       (Anonymous)  2023-06-05T23:59:38.463843-04:00      $10.00     Yes
10      RockofAegis  2023-06-05T22:51:03.082563-04:00     $100.00     Yes
11           Ryan M  2023-06-05T22:27:15.971886-04:00      $25.00      No
12      (Anonymous)  2023-06-05T22:09:03.335856-04:00      $42.00      No
13     kounterkitty  2023-06-05T21:31:16.958754-04:00      $10.00     Yes
14         Fangamer  2023-06-05T21:17:40.815797-04:00   $1,802.00     Yes
15           marnix  2023-06-05T10:37:12.613000-04:00      $10.00      No
16        Kevdizzle  2023-06-05T07:48:24.472123-04:00      $25.00      No
17     YetoMakeSoup  2023-06-05T03:33:59.979840-04:00      $25.00     Yes
18             Tief  2023-06-05T01:33:37.840460-04:00      $25.00     Yes
19            DTops  2023-06-05T01:09:57.013010-04:00      $50.00      No
20             Zack  2023-06-05T01:05:36.489006-04:00     $250.00     Yes
21      Silly Willy  2023-06-04T23:10:01.213502-04:00       $5.00     Yes
22   Indigo Arcadia  2023-06-04T22:08:28.135633-04:00      $25.00      No
23             Brad  2023-06-04T22:01:40.278977-04:00       $5.00      No
24      yusungchung  2023-06-04T21:45:28.143594-04:00     $100.00      No
25            Lvkaz  2023-06-04T21:43:32.023236-04:00      $10.00      No
26      (Anonymous)  2023-06-04T21:43:18.639393-04:00   $1,000.00      No
27      (Anonymous)  2023-06-04T21:20:49.383571-04:00     $500.00      No
28    MusicMasterrr  2023-06-04T21:10:07.732263-04:00       $5.00     Yes
29          Lenneth  2023-06-04T20:42:34.302582-04:00      $10.00      No
30      (Anonymous)  2023-06-04T20:40:19.072171-04:00      $50.00      No
31      (Anonymous)  2023-06-04T20:33:35.804585-04:00     $100.00      No
32      Battleslash  2023-06-04T20:30:08.830704-04:00       $5.00     Yes
33       ImJustJace  2023-06-04T20:29:58.948168-04:00      $25.00     Yes
34  BeardedBossAlex  2023-06-04T20:29:54.249139-04:00       $5.00     Yes
35      (Anonymous)  2023-06-04T20:17:59.757614-04:00      $10.00      No
36      Patrickspud  2023-06-04T19:53:43.084038-04:00      $15.00     Yes
37               MJ  2023-06-04T19:14:41.254817-04:00      $25.00     Yes
38           Andrew  2023-06-04T18:53:40.704053-04:00      $50.00      No
39      (Anonymous)  2023-06-04T17:29:06.147896-04:00      $25.00      No
40      (Anonymous)  2023-06-04T17:21:21.258934-04:00      $20.00      No
41          vashnoi  2023-06-04T14:34:09.417189-04:00      $25.00     Yes
42      (Anonymous)  2023-06-04T14:26:50.535323-04:00       $5.00      No
43      (Anonymous)  2023-06-04T12:51:22.876068-04:00      $50.00      No
44      (Anonymous)  2023-06-04T12:27:41.275179-04:00      $50.00      No
45      (Anonymous)  2023-06-04T12:02:35.001984-04:00       $5.00      No
46        Zaseishin  2023-06-04T11:56:19.227437-04:00      $50.00      No
47      Dezrustrian  2023-06-04T11:29:12.316260-04:00      $50.00     Yes
48    Lord Byron II  2023-06-04T11:14:35.346637-04:00      $19.51     Yes
49           Norgie  2023-06-04T10:46:56.358851-04:00     $200.00      No

In [23]:
def URLtext(x = 1):
   return 'https://gamesdonequick.com/tracker/donations/SGDQ2023?page=' + str(x)

In [24]:
#641 pages

In [27]:
donlist1 = [i for i in range(1,320)]

In [28]:
donlist2 = [i for i in range(320,642)]

In [29]:
page_tables = []
for i in donlist1:
    print(i)
    url = URLtext(i)
    response = requests.get(url)
    soup = BS(response.text)
    page_table = pd.read_html(str(soup.findAll('table')))[0]
    page_tables.append(page_table)
donations1 = pd.concat(page_tables)
donations1

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
201
202
203
204
205
206
207
208
209
210
211
212
213
214
215
216
217
218
219
220
221
222
223
224
225
226
227
228
229
230
231
232
233
234
235
236
237
238
239
240
241
242
243
244
245
246
247
248
249
250
251
252
253
254
255
256
257
258
259
260
261
262
263
264
265
266
267
268
269
270
271
272
273
274
275
276
277
278
279
280
281
282
283
284
285
286
287
288
289
290
291
292
293
294
295
296
297
298
299
300
301
302
303
304
305
306
307
308
309
310
311
312
313
314
315
316
317
318
319

                  Name                     Time Received      Amount Comment
0          (Anonymous)  2023-06-08T18:58:08.481629-04:00       $5.00     Yes
1                 Cait  2023-06-06T23:22:21.543074-04:00      $50.00      No
2               Jelmer  2023-06-06T22:15:04.060004-04:00      $25.00     Yes
3      [FR] Resonances  2023-06-06T14:38:34.350859-04:00   $1,150.00     Yes
4            The Yetee  2023-06-06T12:44:34.198818-04:00  $20,356.00     Yes
..                 ...                               ...         ...     ...
45     CaotainSnuggles  2023-06-02T11:27:41.974823-04:00      $10.00     Yes
46           Matty Jay  2023-06-02T11:27:36.251643-04:00       $5.00     Yes
47  Cousin From Boston  2023-06-02T11:27:23.457220-04:00      $25.00     Yes
48                SKIZ  2023-06-02T11:27:22.951317-04:00      $20.00     Yes
49         (Anonymous)  2023-06-02T11:27:20.876992-04:00       $5.00     Yes

[15950 rows x 4 columns]

In [30]:
page_tables2 = []
for i in donlist2:
    print(i)
    url = URLtext(i)
    response = requests.get(url)
    soup = BS(response.text)
    page_table = pd.read_html(str(soup.findAll('table')))[0]
    page_tables2.append(page_table)
donations2 = pd.concat(page_tables2)
donations2

320
321
322
323
324
325
326
327
328
329
330
331
332
333
334
335
336
337
338
339
340
341
342
343
344
345
346
347
348
349
350
351
352
353
354
355
356
357
358
359
360
361
362
363
364
365
366
367
368
369
370
371
372
373
374
375
376
377
378
379
380
381
382
383
384
385
386
387
388
389
390
391
392
393
394
395
396
397
398
399
400
401
402
403
404
405
406
407
408
409
410
411
412
413
414
415
416
417
418
419
420
421
422
423
424
425
426
427
428
429
430
431
432
433
434
435
436
437
438
439
440
441
442
443
444
445
446
447
448
449
450
451
452
453
454
455
456
457
458
459
460
461
462
463
464
465
466
467
468
469
470
471
472
473
474
475
476
477
478
479
480
481
482
483
484
485
486
487
488
489
490
491
492
493
494
495
496
497
498
499
500
501
502
503
504
505
506
507
508
509
510
511
512
513
514
515
516
517
518
519
520
521
522
523
524
525
526
527
528
529
530
531
532
533
534
535
536
537
538
539
540
541
542
543
544
545
546
547
548
549
550
551
552
553
554
555
556
557
558
559
560
561
562
563
564
565
566
567
568
569
570
571
572
573
574
575
576
577
578
579
580
581
582
583
584
585
586
587
588
589
590
591
592
593
594
595
596
597
598
599
600
601
602
603
604
605
606
607
608
609
610
611
612
613
614
615
616
617
618
619
620
621
622
623
624
625
626
627
628
629
630
631
632
633
634
635
636
637
638
639
640
641

              Name                     Time Received  Amount Comment
0       BenshowSly  2023-06-02T11:27:08.673518-04:00  $20.00     Yes
1   Phoenixcaptain  2023-06-02T11:26:59.727600-04:00   $5.00     Yes
2            Baron  2023-06-02T11:26:49.716336-04:00   $5.00     Yes
3      (Anonymous)  2023-06-02T11:26:45.161399-04:00  $25.00      No
4           magpie  2023-06-02T11:25:49.068977-04:00  $25.00     Yes
..             ...                               ...     ...     ...
34            Leon  2023-05-28T10:28:10.369775-04:00   $5.00      No
35         Chelcie  2023-05-28T09:40:49.514874-04:00  $25.00     Yes
36   Epsilon Minus  2023-05-28T08:35:35.035701-04:00   $5.00     Yes
37         Coaster  2023-05-27T23:25:10.199309-04:00   $5.00     Yes
38   UraniumAnchor         2023-05-26T15:54:06-04:00   $5.00     Yes

[16089 rows x 4 columns]

In [31]:
donations = pd.concat([donations1, donations2])
donations = donations.reset_index(drop=True)

In [32]:
donations

                  Name                     Time Received      Amount Comment
0          (Anonymous)  2023-06-08T18:58:08.481629-04:00       $5.00     Yes
1                 Cait  2023-06-06T23:22:21.543074-04:00      $50.00      No
2               Jelmer  2023-06-06T22:15:04.060004-04:00      $25.00     Yes
3      [FR] Resonances  2023-06-06T14:38:34.350859-04:00   $1,150.00     Yes
4            The Yetee  2023-06-06T12:44:34.198818-04:00  $20,356.00     Yes
...                ...                               ...         ...     ...
32034             Leon  2023-05-28T10:28:10.369775-04:00       $5.00      No
32035          Chelcie  2023-05-28T09:40:49.514874-04:00      $25.00     Yes
32036    Epsilon Minus  2023-05-28T08:35:35.035701-04:00       $5.00     Yes
32037          Coaster  2023-05-27T23:25:10.199309-04:00       $5.00     Yes
32038    UraniumAnchor         2023-05-26T15:54:06-04:00       $5.00     Yes

[32039 rows x 4 columns]

In [34]:
donations.to_csv('data/summer/donations.csv',index=False)

In [35]:
pd.read_csv('data/summer/donations.csv')

                  Name                     Time Received      Amount Comment
0          (Anonymous)  2023-06-08T18:58:08.481629-04:00       $5.00     Yes
1                 Cait  2023-06-06T23:22:21.543074-04:00      $50.00      No
2               Jelmer  2023-06-06T22:15:04.060004-04:00      $25.00     Yes
3      [FR] Resonances  2023-06-06T14:38:34.350859-04:00   $1,150.00     Yes
4            The Yetee  2023-06-06T12:44:34.198818-04:00  $20,356.00     Yes
...                ...                               ...         ...     ...
32034             Leon  2023-05-28T10:28:10.369775-04:00       $5.00      No
32035          Chelcie  2023-05-28T09:40:49.514874-04:00      $25.00     Yes
32036    Epsilon Minus  2023-05-28T08:35:35.035701-04:00       $5.00     Yes
32037          Coaster  2023-05-27T23:25:10.199309-04:00       $5.00     Yes
32038    UraniumAnchor         2023-05-26T15:54:06-04:00       $5.00     Yes

[32039 rows x 4 columns]

In [56]:
runs = pd.read_csv('data/summer/runs.csv')

In [57]:
runs.start = [pd.to_datetime(x[:-6]) for x in runs.start]

In [58]:
runs.end = [pd.to_datetime(x[:-6]) for x in runs.end]

In [42]:
donations = donations.rename(columns = {'Name':'name','Time Received':'time','Amount':'amount','Comment':'comment'})

In [44]:
donations.time[0][:-6]

'2023-06-08T18:58:08.481629'

In [46]:
times = [pd.to_datetime(x[:-6]) for x in donations.time]

In [47]:
donations.time = times

In [65]:
donations.amount = [x.replace('$','') for x in donations.amount]

In [67]:
donations.amount = [x.replace(',','') for x in donations.amount]

In [68]:
donations.amount = donations.amount.astype(float)

In [69]:
run_totals = []
for ind, row in runs.iterrows():
    x = pd.Series(donations.loc[(donations['time'] > row['start']) & (donations['time'] < row['end'])]['amount']).sum().round(decimals=2)
    run_totals.append(x)

In [71]:
runs['run_total'] = run_totals

In [86]:
runs.sort_values('run_total').tail(10)

,name,runners,hosts,commentators,desc,start,run_time,bid_wars,end,run_total
94,The Legend of Zelda: Twilight Princess Any%,mralberto23,ateatree,NaN,NaN,2023-06-01 18:12:15,2:53:33,No,2023-06-01 21:24:15,50148.66
126,Final Fantasy IV Pixel Remaster Any%,Zic3,danejerus,NaN,NaN,2023-06-03 10:55:00,3:01:32,Yes,2023-06-03 14:25:00,50559.55
95,Pizza Tower Any%,SoaringSloth,CovertMuffin,NaN,NaN,2023-06-01 21:24:15,1:14:23,Yes,2023-06-01 23:04:00,62106.33
75,The Legend of Zelda: Majora's Mask Blitz Rando...,spikevegeta,Char_bunny,NaN,NaN,2023-05-31 22:15:00,1:52:08,Yes,2023-06-01 00:31:00,66136.89
131,Pokémon Scarlet/Violet Victory Road,eddaket,AttyJoe,NaN,NaN,2023-06-03 17:56:30,2:19:30,Yes,2023-06-03 20:32:00,78176.15
113,Pokémon Colosseum Any% Race,"Swiftalu, Sparkle",Nichole Goodnight,NaN,NaN,2023-06-02 17:07:00,3:43:07,Yes,2023-06-02 21:37:00,83267.14
132,Super Mario 64 Randomizer- 70 Star Non-Stop,360Chrism,Konception,NaN,NaN,2023-06-03 20:32:00,0:34:32,No,2023-06-03 21:37:00,87068.09
133,Elden Ring Any% Glitchless,Mitchriz,Xenadir,NaN,NaN,2023-06-03 21:37:00,1:16:09,Yes,2023-06-03 23:22:00,145644.15
137,Event Recap Recap 100%,Interview Crew,Mr. Game and Shout,NaN,NaN,2023-06-04 05:44:00,0:15:00,No,2023-06-04 06:07:00,194470.91
134,Super Mario Maker 2 Relay Race,"TheRileyC, Aurateur, PangaeaPanga, TanukiDan, ...",RUBIEHART,NaN,NaN,2023-06-03 23:22:00,2:45:00,Yes,2023-06-04 02:32:00,354580.28

In [ ]:
#Runs that made the most money: June 3rd evening, Mario Maker 2, Elden Ring, Mario 64

In [82]:
donations.to_csv('data/summer/donations.csv', index=False)

In [79]:
runs = runs.drop(columns = 'Unnamed: 0')

In [83]:
runs.to_csv('data/summer/runs.csv',index=False)